.App {
  text-align: center;
}

.App-header {
  background-color: royalblue;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Thank-you-header {
  background-color: royalblue;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.Card {
  width: 600px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.Feedback-review {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Feedback-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#Rating-input {
  margin: 10px;
}

#Next-btn {
  margin: 10px;
}

#Submit-btn {
  margin: 10px;
}

#Final-submit-btn {
  margin: 10px;
}

h2 {
  color: royalblue;
}

h3{
  font-style: italic;
  color: slategrey;
}

p {
  color: slategray;
}

